@import 'scssConfig';

.btn {
    font-size: 24px;
    line-height: 28px;
    border-radius: 4px;
    text-align: center;
    background-color: $white;
    color: $purple;
    outline: none;
    border: none;
    padding: 16px;
    &:hover {
        cursor: pointer;
    }
}

.btnDisabled {
    pointer-events: none;
    background-color: $blueBell;
    color: $coolGrey;
}
