@import 'scssConfig';

.itemReview {
    @include mainFont;
    display: flex;
    justify-content: space-between;

    & > span:first-child {
        color: $robinEggBlue;
        text-transform: capitalize;
    }

    & > span:last-child {
        max-width: 70%;
        word-break: break-all;
        color: $white;
    }
}
