@import 'scssConfig';

.step {
    @include mainFont;
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: $grayPurple;
    margin-bottom: 20px;
}

.indicator {
    width: 16px;
    height: 16px;
}

.indicatorInitial {
    background-color: $majorelleBlue;
}

.indicatorPassword {
    background-color: $soap;
}

.indicatorReview {
    background-color: $romanSilver;
}
