@import 'scssConfig';

.app {
    background-image: url('@Assets/png/appBg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    padding: 80px;
    box-sizing: border-box;
}

.main {
    display: flex;
}

.indicators {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
}

.containForm {
    display: flex;
    flex-direction: column;
    row-gap: 42px;
    width: 400px;
    margin: 0 auto;
}

.formDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;

    & > span:first-child {
        font-size: 36px;
        line-height: 42px;
    }
}
