@import 'scssConfig';

.app {
    background-image: url('./assets/png/appBg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    padding: 80px;
    box-sizing: border-box;

    @include mobile {
        padding: 40px;
    }

    @include mobile {
        padding: 20px;
    }

    @include mobile-min {
        padding: 10px;
    }
}

.main {
    display: flex;
    @include tablet-mobile {
        flex-direction: column;
    }
}

.indicators {
    display: flex;
    flex-direction: column;
    margin-top: 64px;

    &:before {
        content: '';
        position: absolute;
        visibility: hidden;
        @include mainFontFamily;
        font-weight: 600;
    }
}

.containForm {
    display: flex;
    flex-direction: column;
    row-gap: 42px;
    width: 400px;
    margin: 0 auto;

    @include mobile {
        width: 90%;
    }

    @include mobile-min {
        width: 100%;
    }
}
