//colors
$white: #fff;
$grayPurple: #817ca5;
$purple: #413c5f;
$blueBell: #a39fc1;
$coolGrey: #8b85b1;
$venetianRed: #da2121;
$robinEggBlue: #cecaeb;
$vodka: #c0bcdf;
$jacarta: #413c5f;
$magnolia: #f6f4ff;
$paleLavender: #dbd7ee;
$majorelleBlue: #5845dd;
$soap: #c9c5e8;
$romanSilver: #87839f;

//sizes
$tablet: 1023;
$mobile: 575;
$mobile-min: 350;

@mixin mainFont {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

@mixin mainFontFamily {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

@mixin max-width($width) {
    @media only screen and (max-width: #{$width}px) {
        @content;
    }
}

@mixin tablet-mobile() {
    @include max-width($tablet) {
        @content;
    }
}

@mixin mobile() {
    @include max-width($mobile) {
        @content;
    }
}

@mixin mobile-min() {
    @include max-width($mobile-min) {
        @content;
    }
}
